<div class="home__container">

    <app-card gameCover="assets/persona-5.jpeg" gameLabel="DIGITAL" gameType="DIGITAL | PS4" gamePrice="R$ 258,99">
    </app-card>

    <app-card gameCover="assets/Silent-Hill.jpeg" gameLabel="EXCLUSIVE" gameType="DIGITAL | PS2" gamePrice="R$ 159,99">
    </app-card>

    <app-card gameCover="assets/mk.jpeg" gameLabel="EXCLUSIVE" gameType="DISC | PS5" gamePrice="R$ 300,00">
    </app-card>

    <app-card gameCover="assets/tormented-souls.jpeg" gameLabel="DIGITAL" gameType="DIGITAL | PS4" gamePrice="R$ 110,00">
    </app-card>

    <app-card gameCover="assets/the-sims-4.jpeg" gameLabel="DIGITAL" gameType="DIGITAL | PS4" gamePrice="R$ 142,29">
    </app-card>

    <app-card gameCover="assets/rainbow-6.png" gameLabel="DIGITAL" gameType="DIGITAL | PS4" gamePrice="R$ 182,15">
    </app-card>

</div>