<div class="menu-bar__container">

    <div class="menu-bar__logo">

        <img width="140px" height="32px" src="assets/ps-logo.png" alt="logo ps">

    </div>

    <div class="menu-bar__item">

        <ul>

            <li><a href="https://www.instagram.com/chrysthy.martins/">Instagram</a></li>

            <li><a href="https://www.linkedin.com/in/chrystine-martins-o-v/">LinkedIn</a></li>

            <li><a href="https://github.com/Chrysthy">GitHub</a></li>

        </ul>


    </div>



</div>